@import '~sass/variables.scss';

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

.flotar {
    box-shadow:
        0 3px 5px -1px rgba(0,0,0,.2);
}

// ////////////////////////////// //
// Header
// ////////////////////////////// //
.logo {
    /*
    background-color: grey;
    //background-image: url('images/logo.png');
    background-repeat: no-repeat;
    height: 106px;
    width: 273px;
    */
}